/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}


html, body{
  height:100%;
}

body {
    -webkit-touch-callout: none;                 
    -webkit-text-size-adjust: none;              
    -webkit-user-select: none;                  
    background-color: #d8d2cc;
    background-image: url(background.jpg);
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size:12px;
    margin:0px;
    padding:0px;
    text-transform:lowercase;
    overflow: hidden;
    width:100%;
    height:100%;
}

img {
    
    border-style: none;
}

.app {
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 35px;
    text-align: left;
    overflow: hidden;
}

#header {
    
    position:absolute;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    top:0px; 
    left:0px; 
    height:135px; 
    right:0px; 
    overflow:hidden;
}

#content {
    
    position:absolute; 
    color: #FFFFFF;
    margin-left: 25px;
    margin-right: 25px;
    top:205px; 
    bottom:50px; 
    left:0px; 
    right:0px; 
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

#icons img {
    
    padding-bottom: 5px;
    padding-right: 5px;
    width: 80px;
    border-style: none;
}

a {
    text-decoration:none;
}

h1 {
    font-size:40px;
    font-weight: 700;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:left;
    color: #846142;
}

h2 {
    font-size:24px;
    font-weight: 400;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:left;
    color: #333;
}

h3 {
    font-size:20px;
    font-weight: 400;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:left;
    color: #846142;
}

h4 {
    font-size:18px;
    font-weight: 400;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:left;
    color: #333;
}

h5 {
    font-size:16px;
    font-weight: 400;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:left;
    color: #333;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
